body {
  font-family: "Times New Roman", Times, serif, Haettenschweiler,
    "Arial Narrow Bold", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  position: fixed;
}

#title-div {
  height: 28%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 2%;
}

#result-div {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 50vw;
  height: 30%;
  opacity: 0;
}

#button-div {
  display: flex;
  width: 70vw;
  height: 28%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 2%;
}

#start {
  margin: 0 auto;
}

.title {
  font-size: xx-large;
  text-align: center;
}

.deathmatch {
  color: crimson;
  font-style: italic;
  font-size: 4vw;
  margin: -2vw 0 0 0;
}

.deathmatch:hover {
  transition: 0.1s;
  color: #fff;
  font-size: 5vw;
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000,
    -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.button {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 15vw;
  height: 9vw;
  background-color: crimson;
  color: #fff;
  font-weight: 900;
  font-size: 2vw;
  font-style: italic;
  border: 0;
  border-radius: 3%;
}

.button:hover {
  transition: 0.1s;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 15vw;
  height: 10vw;
  background-color: #fff;
  color: crimson;
  font-weight: 900;
  font-size: 2.5vw;
  border: 0.5vw double rgb(46, 0, 12);
  font-style: italic;
}

#start.button:hover span {
  display: none;
}

#start.button:hover::after {
  content: "are you ready to die???";
  font-size: 2vw;
}

.scoreboard {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 3vw;
  height: 20vh;
  gap: 0.5vh;
  padding-bottom: 0.5vh;
  border-bottom: 0.5vh solid black;
}

.resultboard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 10vw;
}

#attribuition {
  height: 5%;
  font-size: 2vh;
  text-align: center;
  color: black;
  text-decoration-line: none;
}

.point {
  width: 2vw;
}

#attribuition:hover {
  color: crimson;
  text-decoration-line: underline;
}
